.custom-audio-player {
  position: fixed;
  bottom: 20px;
  left: 80px;               // 메뉴바 폭 기준
  width: 140px;
  background: var(--background-color);
  padding: 6px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  z-index: 1000;

  button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--text-color);
  }

  @media (max-width: 1178px) {
    left: 10px;
    width: 100%; // 또는 100vw
    justify-content: flex-start;
  }
  
  // 모바일 화면: 숨김
  @media (max-width: 882px) {
    display: none;
  }

  body.settings & {
    display: none;
  }
}
